@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: hsl(235, 21%, 11%);
  color: hsl(234, 39%, 85%);
}

.theme {
  transition: 1s all ease;
}

.light {
  background-color: hsl(0, 0%, 98%);
  color: hsl(236, 9%, 61%);
}

.dark {
  background-color: hsl(235, 21%, 11%);
}